.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.data-label-container {
  height: 300px;
  width: 300px;
  margin: 5px;
  border: solid 1px #756cff;
  padding: 10px;
}

.to-label-image-container {
  height: 100%;
  vertical-align: top;
  overflow: hidden;
}

.anchor, .to-label {
  box-shadow: 0px 0px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.hidden-transparent {
  opacity: 0;
}
