.box-element-active {
    background: var(--color);
    color: white;
    opacity: 1 !important;
}

.box-element {
    display: inline-block;
    width: 30%;
    background: var(--color);
    opacity: 0.5;
}

.to-label-video-container {
    /* Allow canvas to be positioned / sized relative to this element. */
    position: relative;
    height: 100%;
    min-height: 300px;
    /* Vertically center align children */
    display: flex;
    align-items: center;
}

.to-label, .to-label-video-container canvas {
    min-height: 300px;
    max-width: 100%;
    max-height: 100%;
    /* height: 100%; */
    box-sizing: border-box;
    margin: 0 auto;
}

.to-label-video-container canvas {
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.timeline {
    height: 20px;
    width: 70vw;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.timeline-step {
    background: #aaa;
    border-left: solid 1px white;
    border-right: solid 1px white;
    min-height: 10px;
    height: 90%;
    width: 100%;
    display: inline-block;
    cursor: pointer;
}

.timeline-step-valid {
    background: black;
}

.timeline-step-active, .timeline-step-valid:hover {
    /* height: 100%; */
    border: solid 1px red;
    height: 100%;
    padding-left: 3px;
}

select {
    width: 80%;
}

.select2-word-def, .select2-word-synonyms {
    font-size: 0.7em;
    margin: 0;
}

.play-steps, .kill-tracks {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    background: #ccc;
    border: solid 1px black;
}


.congrats {
    /* https://cssway.thebigerns.com/projects/css-fancy-text/ */
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    text-align: center;
}
