<!DOCTYPE html>
<head>
<script type='text/javascript' src='http://code.jquery.com/jquery-3.3.1.min.js'></script>
<script type='text/javascript' src='static/index.js'></script>
<link rel='stylesheet' href='/static/index.css'>
</head>
<body>
  <div id='progress'>
      Images left: {{num_left_images}}/{{num_total_images}}
      ({{percent_complete}}% complete)
  </div>
  <form method='Post' action='/submit'>
  {% for image, image_path in images_to_label %}
  <div class='image-label-container' id='{{image}}'>
    <div class='to-label-container'>
      <img class='to-label' src={{image_path}}></image>
    </div>
    <!--<div class='playback-button-container'>
      <div data-rate=1 class='playback-button'>0.5x</div>
      <div data-rate=2 class='playback-button playback-button-active'>1x</div>
      <div data-rate=3 class='playback-button'>2x</div>
      <div data-rate=4 class='playback-button'>4x</div>
    </div>-->
    <div class='labels'>
      {% for label_id, label_short, label_long in labels %}
      <input name='{{image}}__{{label_id}}'
             id='{{image}}__{{label_id}}-id' type='checkbox'>
      <label title='{{label_long}}' class='label-button' for='{{image}}__{{label_id}}-id'>
        {{label_short}}
      </label>
      {% endfor %}
      <input class='notes' name='{{image}}__notes' id='{{image}}__notes-id'
             type='text' placeholder='notes'/>
    </div>
  </div>
  {% endfor %}
  <div id='error'></div>
  <input id='submit' type='submit' value='Submit' />
  </form>
</body>
</html>
