<!DOCTYPE html>
<head>
<script type='text/javascript' src='http://code.jquery.com/jquery-3.3.1.min.js'></script>
<script type='text/javascript' src='static/index.js'></script>
<link rel='stylesheet' href='/static/index.css'>
</head>
<body>
  <div id='progress'>
      Videos left: {{num_left_videos}}/{{num_total_videos}}
      ({{percent_complete}}% complete)
  </div>
  <form method='Post' action='/submit'>
  {% for video, video_path in videos_to_label %}
  <div class='video-label-container' id='{{video}}'>
    <div class='to-label-container'>
      <video loop="true" class='to-label' src={{video_path}}></video>
    </div>
    <div class='playback-button-container'>
      <div data-rate=1 class='playback-button'>0.5x</div>
      <div data-rate=2 class='playback-button playback-button-active'>1x</div>
      <div data-rate=3 class='playback-button'>2x</div>
      <div data-rate=4 class='playback-button'>4x</div>
    </div>
    <div class='labels'>
      {% for label_id, label_short, label_long in labels %}
      <input name='{{video}}__{{label_id}}'
             id='{{video}}__{{label_id}}-id' type='checkbox'>
      <label title='{{label_long}}' class='label-button' for='{{video}}__{{label_id}}-id'>
        {{label_short}}
      </label>
      {% endfor %}
      <input class='notes' name='{{video}}__notes' id='{{video}}__notes-id'
             type='text' placeholder='notes'/>
    </div>
  </div>
  {% endfor %}
  <div id='error'></div>
  <input id='submit' type='submit' value='Submit' />
  </form>
</body>
</html>
