{% import "macros.html" as macros %}
<!DOCTYPE html>
<head>
  {{ macros.js_includes() }}
  {{ macros.css_includes() }}
  <link rel='stylesheet' href='/static/single_video.css'>
</head>
<body>
  {{ macros.progress(num_left_images, num_total_images, percent_complete) }}

  <form method='Post' action='/submit'>
  {% for (data_key, video_path, current_label) in videos_to_label %}
  <div class='data-label-container' id='{{data_key}}'>
    <div class='to-label-container'>
      <div class='to-label-video-container'>
        <video class='to-label' controls src={{video_path}}></video>
      </div>
    </div>
    <div tabindex='0' class='labels'>
      {{ macros.label_buttons(data_key, labels, current_label) }}
      {{ macros.notes(data_key, current_label) }}
    </div>
  </div>
  {% endfor %}
  {{ macros.error_div() }}
  {{ macros.submit() }}
  </form>
  <img id='preview'></img>
</body>
</html>
