{% import "macros.html" as macros %}
<!DOCTYPE html>
<head>
  {{ macros.js_includes() }}
  {{ macros.css_includes() }}
  <link rel='stylesheet' href='/static/image_anchor.css'>
</head>
<body>
  {{ macros.progress(num_left_images, num_total_images, percent_complete) }}
  <form method='Post' action='/submit'>
  {% for (image_anchor_key, image_path, image_labels,
          anchor_path, anchor_labels, current_label) in images_to_label %}
  <div class='image-label-container' id='{{image_anchor_key}}'>
    <div class='to-label-container'>
      <div class='anchor-image-container'>
          <div class='name'>Anchor: {{anchor_labels}}</div>
        <img class='anchor' src={{anchor_path}}></img>
      </div>
      <div class='to-label-image-container'>
        <div class='name'>PM-K: {{image_labels}}</div>
        <img class='to-label' src={{image_path}}></img>
      </div>
    </div>
    <div tabindex='0' class='labels'>
      {% for label_id, key, color, label_short, label_long in labels %}
      {{ macros.label_buttons(data_key, labels, current_label) }}
      {{ macros.notes(data_key, current_label) }}
    </div>
  </div>
  {% endfor %}
  {{ macros.error_div() }}
  {{ macros.submit() }}
  </form>
  <img id='preview'></img>
</body>
</html>
