{% import "macros.html" as macros %}
<!DOCTYPE html>
<head>
  {{ macros.js_includes() }}
  {{ macros.css_includes() }}
<link rel='stylesheet' href='/static/video_with_thumbnails.css'>
</head>
<body>
  {{ macros.progress(num_left, num_total, percent_complete) }}
  <form method='Post' action='/submit'>
  {% for (data_key, video_path, thumbnails, current_label) in to_label %}
  <div class='data-label-container' id='{{data_key}}'>
    <div class='to-label-container'>
      <div class='to-label-video-container'>
        <video muted loop controls class='to-label' src={{video_path}}></video>
      </div>
      <div class='to-label-thumbnails-container'>
        {% for thumbnail in thumbnails %}
        {% if image_thumbnails %}
        <img class='thumbnail' src='{{thumbnail}}' />
        {% else %}
        <video muted loop class='thumbnail' src='{{thumbnail}}'></video>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div tabindex='0' class='labels'>
      {{ macros.label_buttons(data_key, labels, current_label) }}
      {{ macros.notes(data_key, current_label) }}
    </div>
  </div>
  {% endfor %}
  {{ macros.error_div() }}
  {{ macros.submit() }}
  </form>
  <div id='preview-container'>
    {% if image_thumbnails %}
    <img id='preview'></img>
    {% else %}
    <video autoplay muted loop id='preview'></video>
    {% endif %}
  </div>
</body>
</html>
